.rules {
    margin: 40px;
}

.rules .title-rules h1 {
    font-weight: 700;
    color: #a7a7b8;
}

.rules .content-rules {
    background: var(--color-main);
    padding: 10px;
    margin: 40px 0;
}

.rules .content-rules .accordion-item {
    background: var(--gray-back);
    border: none;
    margin: 10px 0;
}

.rules .content-rules .accordion-item .accordion-body * {
    color: #a7a7b8;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 5px;
    line-height: 2.5rem;
    text-align: justify;
}

.rules .content-rules .accordion-item .accordion-header button {
    font-size: 16px;
    background: var(--gray-back);
    color: #a7a7b8;
    box-shadow: 0;
}

.rules .content-rules .accordion-item .accordion-header button::after {
    position: absolute;
    left: 15px;
    color: #a7a7b8;
}