.new-article-box {
    background-color: var(--gray-back);
    margin: 10px;
    padding: 10px 15px;
    position: relative;
    border-radius: 5px;
}

.new-article-box .right-new-article-box {
    width: 7px;
    display: inline-block;
    background: #AAA4A4;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px 0 0 10px;
}

.new-article-box * {
    font-size: 13px;
    text-decoration: none;
}

.new-article-box span a {
    text-align: revert;
    max-height: 31px;
    width: 90%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}